<extend name="./Application/Admin/View/layout.html" />

<block name="content">
 <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                订单管理
                <small>订单详情</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>管理界面</a></li>
                <li class="active">订单管理</li>
                <li class="active"><a href="{:U('Index/order_info')}">订单列表</a></li>
                <li class="active">订单详情</li>
            </ol>
        </section>
         <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">订单详情</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                    	<a href='{:U('Index/order_info_view', array('order_id' => $order_id-1))}' name="pre" class="btn btn-info">上一条</a>
                                    	<a href='{:U('Index/order_info_view', array('order_id' => $order_id+1))}' name="next" class="btn btn-info">下一条</a>
                                    </div>
                                </div>
                            </div>
							<if condition="$data neq null">
	                            <table id="example2" class="table table-bordered table-hover">       
	                                <tbody>
	                                	<tr role="row" class="odd" style="background-color: #ddd">
	                               			<td colspan="4"  style="text-align:center;">订单基本信息</td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>订单号:</td>
	                               			<td>{$data.order_id}</td>
	                               			<td>订单状态:</td>
	                               			<td>{$data.order_status}</td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>购货人:</td>
	                               			<td>{$data.uname}</td>
	                               			<td>下单时间:</td>
	                               			<td>{$data.order_date|date="y年m月d日h时m分s秒",###}</td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>支付方式:</td>
	                               			<td>{$data.paytype}</td>
	                               			<td>付款状态:</td>
	                               			<td>{$data.ispayed}</td>
	                                    </tr>
	                                    <tr role="row" class="odd" style="background-color: #ddd">
	                               			<td colspan="4"  style="text-align:center;">收货人基本信息<input type="button" id="edit" class="btn btn-info" value="编辑"></td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>收货人:</td>
	                               			<td><input id="rec_name" name="rec_name" style="border-style:none" type="text" value="{$data.rec_name}" readonly="true"></td>
	                               			<td>电子邮件:</td>
	                               			<td><input id="email" name="email" style="border-style:none" type="text" value="{$data.email}" readonly="true" ></td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>收货地址:</td>
	                               			<td><input id="address" name="address" style="border-style:none" type="text" value="{$data.address}" readonly="true"></td>
	                               			<td>邮编:</td>
	                               			<td><input id="postcode" name="postcode" style="border-style:none" type="text" value="{$data.postcode}" readonly="true"></td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                               			<td>电话:</td>
	                               			<td><input id="rec_tel" name="rec_tel" style="border-style:none" type="text" value="{$data.rec_tel}" readonly="true"></td>
	                               			<td><button onclick="edit()" class="btn btn-info">修改</button></td>
	                               			<td><input type="hidden" id="order_id" value="{$data.order_id}"></td>
	                                    </tr>
	                                    <tr role="row" class="odd" style="background-color: #ddd">
	                               			<td colspan="4"  style="text-align:center;">购买商品信息</td>
	                                    </tr>
	                                    <tr role="row" class="odd">
	                                        <td>商品型号</td>
	                                        <td>商品数量</td>
	                                        <td>商品单价</td>
	                                        <td>商品总价</td>
	                                    </tr>
	                                    <volist name="order_detail" id="vo">
	                                    <tr role="row" class="odd">
	                                        <td>{$vo.goods_name}</td>
	                                        <td>{$vo.num}</td>
	                                        <td>{$vo.price}</td>
	                                        <td>{$vo.totalmoney}</td>
	                                    </tr>
	                                    </volist>
	                                    <tr role="row" class="odd">
	                                        <td></td>
	                                        <td></td>
	                                        <td>合计:</td>
	                                        <td>{$data.totalmoney}</td>
	                                    </tr>
	                                </tbody>
	                            </table>
                            <else />
                             <table id="example2" class="table table-bordered table-hover">
                             <tbody>
                              <tr role="row" class="odd">
                              <td>本页面并没有什么东西请往前或后翻</td>
                              </tr>
                             </tbody>
                             </table>
							</if>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</block>

<block name="script">
<script>

	$('#edit').click(function () {
		if($('#edit').val() == "编辑") {
			$('td input').each(function () {
	            $(this).removeAttr("readonly")
	            $(this).css("border-style","")
	            $('#edit').attr("value", "取消编辑")
	    	})
		} else {
			$('td input').each(function () {
	            $(this).attr("readonly","readonly")
	            $(this).css("border-style","none")
	            $('#edit').attr("value", "编辑")
	    	})
		}
	})

	function edit() {
		var data = {
			'order_id' : $('#order_id').val(),
			'rec_name' : $('#rec_name').val(),
			'email' : $('#email').val(),
			'address' : $('#address').val(),
			'postcode' : $('#postcode').val(),
			'rec_tel' : $('#rec_tel').val()
		}

		$.ajax({
			type: 'post',
            url: "{:U('User/edit_order')}",
            data: data,
            success: function (data) {
        	var result = $.parseJSON(data)
                if(result == 1) {
                	alert('修改成功')
    		        location.reload()
                } else {
                	alert('修改失败')
                }
            },
            error: function (data, status) {
               alert('修改时出现异常')
            }
		})
	}
</script>
</block>