<extend name="./Application/Admin/View/layout.html" />

<block name="content">
 <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                订单管理
                <small>订单列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>管理界面</a></li>
                <li class="active">订单管理</li>
                <li class="active">订单列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">订单列表</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <form action={:U('Index/order_info')} method="get">
                                    <div class="col-sm-6">
                                        <div id="example1_filter" class="dataTables_filter">
                                            <label>根据用户查询:<input id="searchtxt1" name="uname" type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                                            <label>根据订单号查询:<input id="searchtxt2" name="order_id" type="search" class="form-control input-sm" aria-controls="example1"></label>
                                            <button id="search" type="submit" class="btn btn-block btn-info" style="width:70px;">查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                    	<th><input id="CheckAll" type="checkbox">全选订单号</th>
                                    	<th>下单时间</th>
                                    	<th>收货人</th>
                                    	<th>总金额</th>
                                    	<th>订单状态</th>
                                    	<th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="data.orders" id="vo">
                                        <tr role="row" class="odd">
                                   			<td><input data-id="{$vo.order_id}" data-index="{++$a}"name="chkItem" class="li-checkbox input" type="checkbox" />{$vo.order_id}</td>
                                   			<td>{$vo.order_date|date="y年m月d日h时m分s秒",###}</td>
                                   			<td>{$vo.uname}<br>{$vo.address}</td>
                                   			<td>{$vo.totalmoney}</td>
                                   			<td>{$vo.order_status}</td>
                                   			<td><a href='{:U('Index/order_info_view', array('order_id' => $vo['order_id']))}' name="select" class="btn btn-primary">查看</a>
                                   			<button name="{$vo.order_id}" onclick="delete_order(this)" class="btn btn-primary">移除</button></td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                    <button id="pass" name="pass" class="btn btn-primary" onclick="action(this)">确认</button>
                                    <button id="cancel" name="cancel" class="btn btn-primary" onclick="action(this)">取消</button>
                                        总共有 {$order_count} 条数据
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                    </div>
                                    <ul class="pagination">
										{$page}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</block>

<block name="script">
<script type="text/javascript">
	 $(function () {
        $("#example1").DataTable()
        $('#example2').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": true
        })
    })

	 //checkbox 单选事件
        $('input[name="chkItem"]:checkbox').click(function () {
            var isCheck = $('input[name="chkItem"]:not(:checked)').length ? false : true
            $('#CheckAll').prop("checked", isCheck)
        });

        //checkbox 全选事件
        $('#CheckAll').click(function () {
            var self = $(this)
            $('input[name="chkItem"]').each(function () {
                $(this).prop("checked", self.is(':checked'))
            })
        })
    function delete_order(obj) {
        $order_id = obj.name;
        var data = {
            'order_id' : $order_id
        }
        $.ajax({
            type: 'post',
            url: "{:U('User/delete_order')}",
            data: data,
            success: function (data) {
            var result = $.parseJSON(data)
                if(result == 1) {
                    alert('移除成功')
                    location.reload()
                } else {
                    alert('移除失败')
                }
            },
            error: function (data, status) {
               alert('移除时出现异常')
            }
        })
    }

    function action(obj) {
        var action = obj.name
        var datas = []
        $('input[name="chkItem"]:checked').each(function () {
            var self = $(this),
                    order_id = self.attr('data-id')
            var row = {"order_id": order_id}
            datas.push(row)
        })

        data = {"data": datas , "action" : action}
        console.log(data)
        $.ajax({
            type: 'post',
            url: "{:U('User/action_cmt')}",
            data: data,
            success: function (data) {
                console.log(data);
                if(data > 1) {
                    alert('操作成功')
                } else {
                    alert('操作失败')
                }
                location.reload();
            },
            error: function (data, status) {
               alert('操作时出现异常')
            }
        });
    }


</script>
</block>