<extend name="./Application/Home/View/layout.html" />

<block name="content">
    <div style="float:right;">
        <a class="btn  btn-ls btn-success" href="{:U('Index/index')}" style="margin-right: 35px;">商品页</a>
    </div>
	<div class="form-group">
    <input id="GoodsID" type="hidden" value="{$good.goods_id}" />
    <h2> 商品名称:{$good.goods_name}</h2>
    <img style="width:300px;height:300px" class="img-rounded" src="__PUBLIC__/images/{$good.type_id}/{$good.goods_imgsrc}" />
    <div class="li-price">
        <span>单价:</span><span>{$good.price}</span>
        <input id="price" type="hidden" value="{$good.price}}">
    </div>
    <div class="li-quantity">
        <a data-type="add" href="javascript:void(0);" class="btn btn-default btn-xs ">+</a>
        <input id="num" style="width: 40px;" type="text" value="1">
        <a data-type='subtr' href="javascript:void(0);" class="btn btn-default btn-xs">-</a>
    </div>
    </div>
    <div class="input-group">
        <button class="btn btn-danger" onclick="WellBad(1)" style="margin-right:5px"><span id="Well" class="glyphicon glyphicon-thumbs-up">{$wellbad.wells}</span></button>
        <button class="btn btn-danger" onclick="WellBad(-1)" style="margin-right:5px"><span id="Bad" class="glyphicon glyphicon-thumbs-down">{$wellbad.bads}</span></button>
        <input type="button"  class="btn btn-success" value="加入购物车" onclick="AddCart()">
    </div>
    <div class="input-group">
        总计：<p id="money" style="color: red;font-size: 25px"></p>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">评论发表</span>
        <input type="text" id="Comment" name="Comment" class="form-control" placeholder="评论" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <input type="submit" class="btn btn-default" value="发表评论" onclick="Commit()">
    </div>
    <ul class="list-group">
        <volist name="comment" id="vo">
            <li class="list-group-item list-group-item-success">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <p id="p1">{$vo.uname}</p>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{$vo.cmt_startime|date='Y-m-d H:i:s', ###}</h4>
                        <p id="p2">{$vo.cmt_content}</p>
                    </div>
                </div>
            </li>
        </volist>
        <div class="btn-group" role="group" aria-label="...">
            <ul class="pager">
              {$page}
            </ul>
        </div>
    </ul>
</block>

<block name="script">
<script>
        function Commit() {
            var Comment = $("#Comment").val();
            var GoodsID = $("#GoodsID").val();

            var data = { "cmt_content": Comment, "goods_id": GoodsID }
            $.ajax ({
                url: "{:U('User/commit')}",
                type: "POST",
                data: data,
                success: function (data) {
                    if(data == -2) {
                        alert('用户评论过')
                    } else if(data == -3) {
                        alert('尚未购买商品无法评论')
                    } else if(data == -1) {
                        alert('点赞失败')
                    } else if(data > 0){
                        alert('评论成功')
                        location.reload();
                    } else {
                        alert('用户还未登录')
                    }
                },
                error: function () {

                }
            })

        }

		function ChangeWB(index, result) {
            if (index == 1)
                $("#Well").html(result)
            else if (index == -1)
                $("#Bad").html(result)
        }
		//异步提交点赞踩
        function WellBad(index) {
            var GoodsID = $("#GoodsID").val()
            var data = { "goods_id": GoodsID, "index": index }
            $.ajax({
                url: "{:U('User/wellbad')}",
                type: "POST",
                data: data,
                success: function (data) {
                    if(data == -2) {
                    	alert('用户已点赞过')
                    } else if(data == -3) {
                    	alert('尚未购买商品无法点赞')
                    } else if(data == -1) {
                    	alert('点赞失败')
                    } else if(data > 0) {
                    	if (index == 1) {
                        	ChangeWB(1, data)
	                    } else if (index == -1) {
	                        ChangeWB(-1, data)
	                    }
	                    alert('点赞成功')
                    } else {
                        alert('用户还未登录')
                    }
                },
                error: function () {
                    alert("点击失败")
                }
            })
        }



        $(function () {
            // 商品+-
            $('.li-quantity a').click(function () {
                var self = $(this);
                var type = self.attr('data-type'),
                    num = parseFloat(self.siblings('input').val())
                if (type == 'add') {
                    num += 1
                } else if (type == 'subtr') {
                    if (num > 1) {
                        num -= 1
                    } else {
                        return false
                    }
                }
                self.siblings('input').val(num)
                tamount()
            });
        });
        var sum = 0
        //计算商品总价格
        function tamount() {
            price = $("#price").val()
            num = $("#num").val()
            sum = (parseFloat(price) * parseFloat(num))
            $("#money").html('￥' + sum + '.00')
        }
        tamount()

        //加入购物车
        function AddCart() {
            var num = $("#num").val()
            var goods_id = $("#GoodsID").val()
            var data = { "num": num, "goods_id": goods_id }
            var jsondata = data
            $.ajax({
                url: "{:U('User/add_cart')}",
                type: "POST",
                data: jsondata,
                success: function (data) {
                	if(data > 0) {
                        alert('加入购物车成功')
                        location.reload() 
                    } else {
                        alert('用户还未登录')
                    }
                },
                error: function () {
                    alert("加入购物车失败")
                }
            })

        }
    </script>
</block>

<block name="css">
	
</block>