<extend name="./Application/Home/View/layout.html" />

<block name="content">
<div style="margin:50px auto;width: 1024px;">
    <div>
        <div>
            <div style="float:right;">
                <a class="btn  btn-xs btn-success" href="{:U('Index/index')}" style="margin-right: 35px;">商品页</a>
            </div>
            <h2>购物车</h2>
            <hr>
        </div>
        <div>
            <div class="cart-heading">
                <div style="padding: 10px 0 0 10px">
                    <span style="margin-right: 120px;">
                        <input id="CheckAll" type="checkbox"> 全选
                    </span>
                    <span style="margin-right: 150px;">商品</span>
                    <span style="margin-right: 150px;">价格</span>
                    <span style="margin-right: 100px;">数量</span>
                    <span style="margin-right: 120px;">操作</span>
                    <span style="padding-right: 0px;">加入购物车日期</span>
                </div>
            </div>
            <div class="cart-body">
                <ul>
                    <volist name="data.buyinfo" id="vo">
                    <li>
                        <div class="li-checkbox">
                            <input data-id="{$vo.goods_id}" data-index="{++$a}" data-price="{$vo.price}" data-buyid="{$vo.buy_id}" name="chkItem" class="li-checkbox input" type="checkbox" />
                        </div>
                        <div class="li-img">
                            <a>
                                <img class="li-img a img" src="__PUBLIC__/images/{$vo.type_id}/{$vo.goods_imgsrc}">
                            </a>
                        </div>
                        <div class="li-content">
                            <a>{$vo.goods_name}</a>
                        </div>
                        <div class="li-price">
                            <span>{$vo.price}</span>
                        </div>
                        <div class="li-quantity">
                            <a data-type="add" href="javascript:void(0);" class="btn btn-default btn-xs ">+</a>
                            <input id="Q{$i}" style="width: 40px;" type="text" value="{$vo.num}">
                            <a data-type='subtr' href="javascript:void(0);" class="btn btn-default btn-xs">-</a>
                        </div>
                        <div class="li-del">
                            <button class="btn btn-primary btn-xs" id='delete' value='{$vo.buy_id}'>删除</button>
                        </div>
                        <div class="li-date">
                            <span>{$vo.add_date|date="y-m-d",###}</span>
                        </div>
                    </li>
                    </volist>
                </ul>

            </div>

            <div style="float: right;height: 35px;width:330px;">
                <div class="btn-group" role="group" aria-label="...">
                    <ul class="pager">
                       {$page}
                    </ul>
                </div>
                总计：<span id="money" style="color: red;font-size: 25px">￥0.00</span>
                <div class="form-group">
                    <input type="radio" name="paytype" class="iradio_minimal" value="支付宝付款" checked>支付宝付款
                    <input type="radio" name="paytype" class="iradio_minimal" value="网银付款">网银付款
                    <input type="radio" name="paytype" class="iradio_minimal" value="在线付款">在线付款
                </div>
                <input type="button" style="width: 130px;float:right;" class="btn btn-success" onclick="Clearing();" value="结 算" />
            
            </div>
        </div>
    </div>
</div>

</block>

<block name="script">
<script type="text/javascript">
    $(function () {
    	//商品删除
    	$('#delete').click(function () {
    		var buy_id = $('#delete').val()
    		var data = {"buy_id" : buy_id}
    		$.ajax({
	            type: 'post',
	            url: "{:U('User/delete')}",
	            data: data,
	            success: function (data) {
	            	var result = $.parseJSON(data)
	                if(result == 1) {
	                	alert('删除成功')
        		        location.href = "{:U('User/cart')}"
	                } else {
	                	alert('删除失败')
	                }
	            },
	            error: function (data, status) {
	               alert('删除时出现异常')
	            }
	        });
    	})
        // 商品+-
        $('.li-quantity a').click(function () {
            var self = $(this)
            var type = self.attr('data-type'),
                num = parseFloat(self.siblings('input').val());
            if (type == 'add') {
                num += 1;
            } else if (type == 'subtr') {
                if (num > 1) {
                    num -= 1;
                } else {
                    return false;
                }
            }
            self.siblings('input').val(num)
            tamount()
        });

        //checkbox 单选事件
        $('input[name="chkItem"]:checkbox').click(function () {
            var isCheck = $('input[name="chkItem"]:not(:checked)').length ? false : true
            $('#CheckAll').prop("checked", isCheck)
            tamount()
        });

        //checkbox 全选事件
        $('#CheckAll').click(function () {
            var self = $(this)
            $('input[name="chkItem"]').each(function () {
                $(this).prop("checked", self.is(':checked'))
            })
            tamount()
        })

    })
    var sum = 0;
    //用户结算
    function Clearing() {
 
        var datas = []
        var k = 0

        var paytype = $("input[name='paytype']:checked").val()
        $('input[name="chkItem"]:checked').each(function () {
            var self = $(this),
                    index = self.attr('data-index'),
                    GoodsID = self.attr('data-id'),
                    BuyID = self.attr('data-buyid')
            var Num = $('#Q' + index).val()
            var row = {"goods_id": GoodsID, "num": Num, "buy_id": BuyID}
            datas.push(row)
        })
        data = {"data": datas, "paytype": paytype}
        $.ajax({
            type: 'post',
            url: "{:U('User/clear')}",
            data: data,
            success: function (data) {
                if(data == 1) {
                	alert('结算成功')
                } else if(data == -1){
                	alert('请购买商品后结算')
                } else {
                    alert('结算失败')
                }
            },
            error: function (data, status) {
               alert('结算时出现异常')
            }
        });
        location.href = "{:U('User/cart')}"
    }
    //计算商品总价格
    function tamount() {
        sum = 0
        $('input[name="chkItem"]:checked').each(function () {
            var self = $(this),
                price = self.attr('data-price'),
                index = self.attr('data-index')
            var quantity = $('#Q' + index).val()
            sum += (parseFloat(price) * parseFloat(quantity))
        })
        $("#money").html('￥' + sum + '.00')
    }
</script>
</block>

<block name="css">
<style type="text/css">
        .cart-heading {
            height: 40px;
            background-color: #EFEDED;
        }

        .cart-body {
            background-color: #F7F7F7;
        }

        .cart-body ul li {
            list-style-type: none;
            margin-left: -30px;
            width: 870px;
        }

        .cart-body ul li div {
            float: left;
            height: 80px;
        }

        .li-checkbox input {
            margin: 20px 5px 0 0;
        }

        .li-img a img {
            width: 40px;
            height: 50px;
        }

        .li-content {
            margin: 20px 0 0 15px;
            width: 115px;
        }

        .li-price {
            margin: 20px 0 0 15px;
            width: 40px;
        }

        li .li-quantity {
            margin: 20px 0 0 111px;
            width: 130px;
        }

        .li-del {
            margin: 20px 0 0 30px;
            width: 115px;
        }

        .li-date {
            margin: 20px 0 0 30px;
            width: 58px;
        }
        .li-img {
            margin: 0 0 0 75px;
        }
    </style>
</block>


